#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color:rgb(23, 24, 26); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 30px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
 
  
 
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
@media only screen and (min-width: 576px) { 
  body {
  background:rgb(0, 0, 0) !important
} 
}


@media only screen and (min-width: 768px) {
   body {
  background:rgb(0, 0, 0) !important
}  }


@media only screen and (min-width: 992px) { 
  body {
  background:rgb(3, 3, 3) !important
}   }

@media only screen and (min-width: 1200px) { 
  body {
  background:#000000 !important
}  
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");





.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #000000
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}

/*-------------------------------*/
body{
  font-family: system-ui;
}
header{
  background-color: #000000;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 7px 8px -3px #d10909;
  position: fixed;
  width: 100%;
  margin-top: -10px;
  z-index: 99;
}
.container{
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
.header-section{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
}
.header-section div{
  position: relative;
}
.header-section p{
  position: absolute;
  top: -24px;
  right: -8px;
  background-color: rgb(255, 220, 19);
  padding: 1px 6px;
  border-radius: 50%;
  color:rgba(17, 19, 20, 0.856);
  font-weight: 700;
  font-family: system-ui;
  line-height: 18px;
}
.logo{
  width: 164px;
  height: 84px;
  cursor: pointer;
}

.cart{
  width: 39px;
  height: 38px;
  /* cursor: pointer; */
}
.cart-products{
  position: absolute!important;
  top: 82px;
  right: -18px;
  background-color: rgb(255, 255, 255);
  padding: 0 18px;
  box-shadow: 0 3px 10px rgb(255, 255, 255);
  display: none;

  min-width: 290px;
}
/* .cart:hover{
  margin-bottom: 16px;
  transition-duration: .5s;
} */
.cart:hover{
  margin-bottom: 16px;
  transition-duration: .5s;
}
/*end header*/
.products{
  /* margin-top: 60px; */
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carts{
  max-width: 250px;
  box-shadow: 0 3px 10px rgb(255, 255, 255);
  padding-bottom: 34px;
  margin-bottom: 40px;
}
.carts img{
  width: 100%;
}
.carts p{
  font-family: system-ui;
  font-weight: 500;
  padding: 0 20px;
  margin-bottom: 24px;
}
.carts div p{
  position: absolute;
  top: 0;
  right: 0px;
  background-color: rgb(193, 202, 66);
  color: #fff;
  padding: 25px 25px 25px 25px;
  clip-path: circle();
}
.carts div{
  position: relative;
}
.carts a{
  font-family: system-ui;
  text-decoration: none;
  background: rgb(199, 96, 0);
  padding: 9px 23px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 30px;
}

.carts a:hover{
  background: rgb(0, 0, 0);
  color:#000000;
  border: solid 2px rgb(255, 230, 8);
  transition-duration: .3s;
}
/* .carts a:hover + .cart-products{
  display: block;
} */
/*float cart*/
.cart-products .item img{
  width: 115px;
}

.cart-products .item{
  display: flex;
  align-items: center;
  border-bottom: solid 2px rgb(163, 83, 110);
}
.cart-products .item .item-content{
  margin: 0 19px;
  width: 201px;
}
.cart-products .item .item-content h5{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item .item-content h6{
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item span , #hacerPedido{
  background-color: rgb(28, 156, 50) ;
  padding: 0px 5px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  font-family: system-ui;
  cursor: pointer;
}
.cart-products h3{
  margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
  font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
  top: -4px;
  right: 6px;
  cursor: pointer;
  color: #000;
}
